#about-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darker-overlay);
    height: 100vh;
}

#about-content {
    max-width: 600px;
    margin: 3rem 2rem;
}
h1 {
    margin-bottom: 1.5rem;
}
p {
    padding-bottom: 1rem;
}
p b {
    font-size: 1.2rem;
}