/* Styling for index.html, the front page */

#index-main-sectioon {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 1;
    color: var(--text-color);
    text-align: center;
    background-color: var(--dark-overlay);
    width: 100%;
    height: 100vh;
    padding: 2rem;
}
#mobile-nav.main-nav {
    background-color: var(--dark-overlay) !important;
}
#front-page-h1 {
margin: 0 0 2.5rem;
font-size: 2.4rem;
}

.frontPageBtn {
    color: var(--text-color);
    border: thin solid var(--text-color);
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    align-self: center;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.1rem;
}
.frontPageBtn i {
    font-size: inherit;
}

.nav-ul {
    background-color: transparent;
}
.aNav i {
    color: var(--text-color);
}