/* Styling for pack list pages */

main {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: var(--dark-overlay);

}

#your-list-container {
    padding: 3rem 2rem;
}
h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Input field */
.input-container {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#newItem {
    color: var(--text-color);
    font-size: 1rem;
    background-color: transparent;
    padding: 0.7rem;
    border: thin solid var(--text-color);
    border-radius: 5px;
}
#newItem::placeholder {
    color: var(--text-color);

}
#addItemBtn {
    padding: 0;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

/* Styling list and list item */
#user-pack-list {
    margin: 1rem 0;
    list-style: none;
}

.item {
    font-size: 1.1rem;
    width: 100%;
    display: flex;
    padding: 5px 0;
    margin: 5px 0 3px;
    border-bottom: thin solid var(--text-color);
}
.item span {
    width: 100%;
    cursor: pointer;
}

.item button {
    margin-left: auto;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.item button .fa-plus {
    transform: rotate(45deg);
}

.done {
    text-decoration: line-through;
    color: var(--secondary-color);
}