/* Page wide styling */

/* Reset and default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: rgba(5, 40, 22, 1);
    --secondary-color: rgba(133, 167, 150, 1);
    --black-color: rgba(1, 4, 2, 1);
    --text-color: rgba(253, 253, 253, 1);
    --secondary-bg-color: rgba(243, 246, 244, 1);
    --dark-overlay: rgba(1, 4, 2, 0.3);
    --bright-overlay: rgba(243, 246, 244, 0.2);
}

html {
    font-size: 18px;
    height: 100%;
}
body {
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--dark-overlay);
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}



/* Element styling */
h1 {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: var(--text-color);
}

/* Navigation styles */
#mobile-nav.main-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(1, 4, 2, 0), rgba(1, 4, 2, 1)) !important;
}
.nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin-top: auto;
    padding: 1rem;
}


.aNav i {
    font-size: 2rem;
}


/* Background videos */

.background-vid-box {
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}
.background-video {
    max-height: 100%;
    object-fit: cover;
    height: 100vh;
}